<ion-header>
  <ion-toolbar>
    <ion-title>{{ !!product ? 'Edit' : 'New'}} {{ selectedMode }} product</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="onConfirm()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form *ngIf="selectedMode === 'single'" [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input *ngIf="!!product" type="text" formControlName="name" [(ngModel)]="product.name"></ion-input>
            <ion-input *ngIf="!product" type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea *ngIf="!!product" type="text" formControlName="description" [(ngModel)]="product.description"></ion-textarea>
            <ion-textarea *ngIf="!product" rows="3" formControlName="description" ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-item>
            <ion-label position="floating">Amount</ion-label>
            <ion-input *ngIf="!!product" type="text" formControlName="amount" [(ngModel)]="product.amount"></ion-input>
            <ion-input *ngIf="!product" type="number" formControlName="amount"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <form *ngIf="selectedMode === 'composed'" [formGroup]="orderForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <p>Single Products</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <ion-list formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i = index;" lines="none">
            <ion-item [formGroupName]="i">
              <ion-row>
                <ion-col size="5" size-sm="4"> 
                  <ion-item>
                    <ion-label position="floating">Product id</ion-label>
                    <ion-input type="text" formControlName="prodId"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="5" size-sm="4">
                  <ion-item>
                    <ion-label position="floating">Amount</ion-label>
                    <ion-input type="text" formControlName="amount"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="2" size-sm="1">
                  <ion-button color="danger" (click)="removeItem(i)">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
          <ion-button expand="block" (click)="addItem()">Add single product</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>


<!--
  <ion-row size="12" size-sm="8" offset-sm="2" class="ion-text-center" *ngIf="selectedMode === 'composed'">
        <ion-item *ngFor="let prod of prodIds">
          <ion-input formControlName="prod.get('prodId')"></ion-input>
          <ion-input formControlName="prod.get('amount')"></ion-input>
          <ion-button click="remove(prod)"></ion-button>
        </ion-item>
          <ion-button (click)="addProdToList()">Add</ion-button>
      </ion-row>
-->