<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/', 'home', 'tabs', 'product']"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' :  product.name + ' (id: ' + product.id + ')' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-item lines="none">
          <ion-label position="stacked">Name</ion-label>
          <p>{{ product.name }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-item lines="none">
          <ion-label position="stacked">Description</ion-label>
          <p>{{ product.description }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-item *ngIf="isSingle" lines="none">
          <ion-label position="stacked">Amount</ion-label>
          <p>{{ product.amount }}</p>
        </ion-item>
        <ion-item *ngIf="!isSingle" lines="none">
          <ion-label position="stacked">Amount</ion-label>
          <p>{{ product.virtualAmount }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isSingle">
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-label position="stacked">List of products</ion-label>
        <ion-item *ngFor="let p of prodsInComp" lines="none">
          <p>Product id: {{ p.id }}<p>
          <p>Amount: {{ p.amount }}<p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
