<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/', 'home', 'tabs', 'product']"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' :  product.name + ' (id: ' + product.id + ')' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-item>
          <ion-label position="fixed">Name: {{ product.name }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-item>
          <ion-label position="fixed">Description: {{ product.description }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-item>
          <ion-label *ngIf="isSingle" position="fixed">Amount: {{ product.amount }}</ion-label>
          <ion-label *ngIf="!isSingle" position="fixed">Amount: {{ product.virtualAmount }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isSingle">
      <ion-col>

        <ion-list lines="none">
          <ion-item *ngFor="let p of prodsInComp">
              <p>Product id: {{ p.id }}<p>
              <p>Amount: {{ p.amount }}<p>
          </ion-item>
        </ion-list>
      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
